<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ve.locker.dao.PrivacyDetailsCardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ve.locker.entity.PrivacyDetailsCard">
        <id column="id" property="id" />
        <result column="owner" property="owner" />
        <result column="number" property="number" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="url" property="url" />
        <result column="sign_date" property="signDate" />
        <result column="valid_date" property="validDate" />
        <result column="remark" property="remark" />
        <result column="enable_encrypt" property="enableEncrypt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, owner, number, password, phone, address, url, sign_date, valid_date, remark, enable_encrypt
    </sql>
    <!--获取最大id-->
    <select id="getMaxPrivacyInfoId" resultType="integer">
        SELECT max(id)
        FROM t_privacy_details_card;
    </select>

</mapper>
